body {
    background: #f0f2f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
}

h1 {
    color: #333;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #118f0d;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff0000;
}